

.App {
  text-align: center;
  background-color: lightpink;
  height: 100%;
}

.Main {
  margin-left: 10%;
  margin-right: 10%;
  color: darkslategrey;
}

@media only screen and (min-width: 900px) {
  .Main{
      margin-left: 15%;
      margin-right: 15%;
  }
}

/* BUTTON STYLING */

.btn {
  background-color: white; 
  border: none; 
  color: darkslategray !important;
  padding: 2px 10px; 
  font-size: 20px; 
  cursor: pointer; 
}

.btn:hover {
  background-color: rgb(248, 128, 148);
}