

.App {
  text-align: center;
  background-color: lightpink;
  height: 100vh;
}

.Main {
  margin-left: 10%;
  margin-right: 10%;
  color: darkslategrey;
}

@media only screen and (min-width: 900px) {
  .Main{
      margin-left: 15%;
      margin-right: 15%;
  }
}